# Виртуальное окружение
.venv/
__pycache__/
*.pyc
venv/
env/
ENV/

# Кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные базы данных SQLite
*.db
*.sqlite
*.sqlite3

# Конфигурации сред разработки (IDE)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Логи
*.log

# Секреты (ВАЖНО!)
.env

# Сессии Steam (если есть в папке backend)
backend/mafiles/*
!backend/mafiles/.gitkeep